<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center relative">
	
	<!-- Logo -->
	<div class='mw7 ph3 divider-grey flex justify-between items-center center relative' style='width:100%;margin: 0px auto;'>
		<a href="/" class="pa2 no-underline flex-none " >
			<img src='/favicon-32x32.png' style='position:absolute;left:-10px'>Orbis Tertius
		</a>

		<!-- Primary Nav -->
		<ul class="flex b grey-3">
			<li><a href="/post" class="pa2 no-underline db">Posts</a></li>
			<li><a href="/poem" class="pa2 no-underline db">Poems</a></li>
			<li><a href="/about" class="pa2 no-underline db">About</a></li>
		</ul>
	</div>
	

</nav>
